.tippy-box[data-theme~="GCTable"] {
  background-color: white;
  color: Grey;
  border: 1px solid black;
}

.tippy-box[data-theme~="GCTable"] .tippy-arrow {
  color: white;
  border: 1px solid black;
}

.tippy-box {
  font-weight: normal;
}

.qlikFilter::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.qlikFilter::-webkit-scrollbar-track {
  background: transparent;
}
.qlikFilter::-webkit-scrollbar-thumb {
  background: rgba(50, 50, 50, 0.3);
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}
.qlikFilter::-webkit-scrollbar-thumb:hover {
  background: rgba(50, 50, 50, 0.5);
}
.qlikFilter::-webkit-scrollbar-corner {
  background: transparent;
}
